<p-toast></p-toast>

<div class="p-sm-12">
  <div class="p-grid">

    <div class="p-grid">
      <p-messages></p-messages>
    </div>
    <div class="p-sm-12">
      <div class="progress" [hidden]="progress < 1">
        <h3>Upload Progress:</h3>
        <p-progressBar [value]="progress"></p-progressBar>
      </div>
    </div>
    <div class="p-sm-12" *ngFor="let f of filesList; let i = index;">
      <br><br>

      <div class="p-grid" *ngIf="f.imported!==true">
        <div class="p-sm-12">

          <p-progressSpinner *ngIf="waiting"></p-progressSpinner>
        </div>
        <div class="p-sm-6 p-lg-3">
          <!-- maxFileSize="100000000" -->
          <p-fileUpload name="file[]" mode="advanced" [showUploadButton]="false" customUpload="true"
            (uploadHandler)="UploadHandler($event, f, i)" uploadLabel="Set File" [auto]="true"
            chooseLabel="Durchsuche" accept=".csv, text/plain" multiple="multiple">
            <ng-template pTemplate="content">
            </ng-template>
          </p-fileUpload>
          <span *ngIf="f.files?.length">
            <p *ngFor="let file of f.files">
              {{file?.name}} - {{ (file?.size / 1024) | number: '1.0-2' }} KB</p>
          </span>
        </div>
        <div class="p-sm-6 p-lg-3">
          <span class="p-buttonset">
            <button pButton type="button" icon="pi pi-upload" iconPos="left"
              label="Hochladen" (click)="uploadFirstStep(f, i)"
              [disabled]="!f.files || waiting || f.uploaded" class="p-button-raised p-button-rounded"><i
                class="pi pi-spinner pi-spin" *ngIf="waiting"></i></button>
          </span>
          &nbsp;
          <button pButton pRipple [disabled]="!f.uploaded || waiting" type="button" icon="pi pi-times"
            class="p-button-rounded p-button-danger" (click)="deleteFileFromServer(f, i)"></button>
        </div>
      </div>


    </div>
    <br />
  </div>

  <div class="p-grid">
    <div class="p-col-10">
      <br><br>
      <button pButton type="button" icon="pi pi-plus" class="p-button-raised" iconPos="left"
        label="Datei hinzufügen" (click)="addFormData()"></button>
      &nbsp;&nbsp;
      <button pButton type="button" icon="pi pi-check" iconPos="left" label="Start"
        (click)="manipulateFiles()" class="p-button-raised" [disabled]="!choosed"><i class="pi pi-spinner pi-spin"
          *ngIf="waiting"></i></button>
    </div>
    <div class="p-col-2"></div>
  </div>


  <br><br>
  <!-- <button pButton type="button" label="Next" class="p-button-raised p-button-rounded" (click)="goNext(0)"></button> -->
</div>